#volume_panel {
  position: fixed;
  z-index: 9998;
  bottom: 0px;
  right: 105px;
  height: 0px;
  width: 80px;
  background: rgba(251, 253, 254, 0.3);
  border-radius: 7px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  overflow: hidden;
  opacity: 0;
  transition: bottom 100ms cubic-bezier(0, 1, 0, 1), opacity 100ms cubic-bezier(0, 1, 0, 1), height 100ms cubic-bezier(0, 1, 0, 1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#volume_panel #txt_vol_panel {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: translateX(-95px);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #vol_range_panel {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgba(251, 253, 254, 0.8);
  }
  #vol_range_panel::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: rgba(251, 253, 254, 0.8);
    margin-top: -1px;
  }
  #vol_range_panel::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 10px;
    background: #B3E5FC;
    box-shadow: -200px 0 0 200px #B3E5FC;
  }
}
#vol_range_panel {
  transform: rotate(-90deg);
  height: 20px;
  width: 220px;
  border-radius: 7px;
}
#vol_range_panel::-moz-range-progress {
  background-color: #B3E5FC;
}
#vol_range_panel::-moz-range-track {
  background-color: rgba(251, 253, 254, 0.8);
}
#vol_range_panel::-ms-fill-lower {
  background-color: #B3E5FC;
}
#vol_range_panel::-ms-fill-upper {
  background-color: rgba(251, 253, 254, 0.8);
}

.animated_volume {
  bottom: 35px !important;
  opacity: 1 !important;
  height: 250px !important;
}