<div class="winapp_body" ondblclick="event.stopPropagation();">
    
</div>
<div class="winapp_btn" ondblclick="event.stopPropagation();">
    <div class="winapp_btn_close" onclick="closeprogram(this)">
        <img src="src/image/svg/close.svg">
    </div>
    <div class="winapp_btn_max" onclick="fullscreen(this)">
        <img src="src/image/svg/square.svg">
    </div>
    <div class="winapp_btn_min" onclick="minmax_program(this)">
        <img src="src/image/svg/circle.svg">
    </div>
</div>