<div id="startbtn" data-title="hcuOS Start" onclick="openstartmenu()">
    <div id="startbtn_circleico"></div>
</div>
<div id="preview_desktop_btn" onclick="alert('coming soon ;)'); backtodesktop()"></div>
<div id="noti_btn" data-title="Quickview" onclick="openquickviewmenu()">
    <svg xmlns="http://www.w3.org/2000/svg" id="noti_btn_ico" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#1a1a1a"
        width="19px" height="19px">
        <g>
            <rect fill="none" height="24" width="24" />
            <path
                d="M15,20H3c-0.55,0-1-0.45-1-1V5c0-0.55,0.45-1,1-1h12c0.55,0,1,0.45,1,1v14C16,19.55,15.55,20,15,20z M19,8h2 c0.55,0,1-0.45,1-1V5c0-0.55-0.45-1-1-1h-2c-0.55,0-1,0.45-1,1v2C18,7.55,18.45,8,19,8z M19,20h2c0.55,0,1-0.45,1-1v-2 c0-0.55-0.45-1-1-1h-2c-0.55,0-1,0.45-1,1v2C18,19.55,18.45,20,19,20z M19,14h2c0.55,0,1-0.45,1-1v-2c0-0.55-0.45-1-1-1h-2 c-0.55,0-1,0.45-1,1v2C18,13.55,18.45,14,19,14z" />
        </g>
    </svg>
</div>
<div id="taskbar_time" data-title="" onclick="opendatetb()">
    <div id="clock"></div>
</div>
<div id="volume_sys" data-title="Volume" onclick="openvolpanel()">
    <img id="vol_icon_panel" src="src/image/svg/volume_up.svg">
</div>
