<div id="startmenu_leftside">
    <div id="app_holder_startmenu">
        <div id="startmenu_app_holder_container">

            <div class="startmenu_app_holder_label holder_label_C">C</div>
            <div class="startmenu_app_label_loca">
                <div class="icon_n_name_for_app_startmenu">
                    <div class="icon_for_app_startmenu"></div>
                    <p class="name_for_app_startmenu name_for_app_caculator" id="hcuapp_caculator">Calculator</p>
                </div>
            </div>

        </div>
    </div>
    <div id="hot_btn_startmenu">
        <img src="src/image/svg/startmenu/power.svg">
        <img src="src/image/svg/startmenu/setting.svg">
        <img src="src/image/svg/startmenu/img.svg">
        <img src="src/image/svg/startmenu/doc.svg">
        <img src="src/image/svg/startmenu/accbox.svg">
    </div>
</div>
<div id="startmenu_rightside">
    
</div>